body {
	text-align: center;
	color: rgb(15, 88, 102);
	background-image: url(https://i.imgur.com/2UVzsZR.jpg?2);
	background-size: cover;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

h1 {
	font-size: 50px;
	margin-top: 40px;
	margin-bottom: 30px;
}

h3 {
	display: inline;
}

p {
	font-size: 25px;
	font-weight: 600;
	display: inline;
}

button {
	background-color: rgb(15, 88, 102);
	color: white;
	font-size: 16px;
	margin-bottom: 25px;
	padding: 5px 10px;
	border: 2px solid rgb(10, 63, 73);
	border-radius: 3px;
	box-shadow: 2px 2px 7px 2px #656565;
}

button:active {
	transform: scale(1.1);
}

button:hover {
	background-color: rgb(16, 71, 82);
}

.hide {
	display: none;
}

#win {
	display: flex;
	justify-content: center;
}

.winner,
.best {
	color: rgb(215, 218, 224);
	font-size: 35px;
	background-color: rgb(15, 88, 102);
	padding: 20px;
	margin: 20px;
	width: fit-content;
	text-align: center;
	border-radius: 3px;
	box-shadow: 2px 2px 7px 2px #656565;
}

#game {
	margin-bottom: 15vh;
}

#game div {
	border: 1px solid black;
	width: 14vw;
	height: 14vw;
	margin: 10px;
	display: inline-block;
	background-image: url(https://i.imgur.com/fwUH54i.jpg?1);
	background-size: contain;
	box-shadow: 2px 2px 7px 2px #656565;
	transition: .5s;
}

#game div:active {
	transform: scale(1.05);
}

#game div:hover {
	border: 1px solid white;
}

#scoreBoards {
	display: flex;
	justify-content: center;
}

#scoreBoards div {
	margin: 0 10px 10px 10px;
	padding: 0;
	font-size: 20px;
}

#game div.flipped {
	transition: .5s;
}

#game div.jellyfish.flipped {
	background-image: url(https://i.imgur.com/0vg87NS.jpg?2);
	background-size: contain;
}

#game div.seahorse.flipped {
	background-image: url(https://i.imgur.com/N6FUTfP.jpg?1);
	background-size: contain;
}

#game div.shark.flipped {
	background-image: url(https://i.imgur.com/0BAEj77.jpg?1);
	background-size: contain;
}

#game div.star.flipped {
	background-image: url(https://i.imgur.com/ZDXHzBa.jpg?1);
	background-size: contain;
}

#game div.turtle.flipped {
	background-image: url(https://i.imgur.com/bWiy7ak.jpg?1);
	background-size: contain;
}

#game div.fish.flipped {
	background-image: url(https://i.imgur.com/sLJGbTl.jpg?1);
	background-size: contain;
}

#game div.eel.flipped {
	background-image: url(https://i.imgur.com/KTBy245.jpg?1);
	background-size: contain;
}

#game div.shrimp.flipped {
	background-image: url(https://i.imgur.com/bcEBxhl.jpg?1);
	background-size: contain;
}
#game div.nudibranch.flipped {
	background-image: url(https://i.imgur.com/OGAZR7w.jpg?1);
	background-size: contain;
}

@media only screen and (max-width: 768px) {
	#game div {
		width: 16vw;
		height: 16vw;
	}
}

@media all and (max-width: 480px) {
	body {
		background: url(https://i.imgur.com/2UVzsZR.jpg?2) no-repeat center center fixed;
		background-size: cover;
	}

	h1 {
		font-size: 36px;
	}

	#game div {
		width: 24vw;
		height: 24vw;
	}

	.winner,
	.best {
		padding: 15px;
	}
}
